@import url('https://fonts.googleapis.com/css?family=Tajawal:300,400,700&display=swap');

$body-font-family : 'Tajawal', sans-serif;

// variables.scss
$shadow-color: #000;
$text-shadow-dark: -1px -1px 0 $shadow-color, 1px -1px 0 $shadow-color, -1px 1px 0 $shadow-color, 1px 1px 0 $shadow-color;
$text-shadow-light: none;